@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white; 
    font-size: 70px;
    font-family: 'Dangrek', cursive;
}

.subtitulo {
    color: white; 
    font-size: 50px;
}

.tarjetas, .tarjetas-ataques { 
    display: flex;
    gap: 10px;
}

.tarjeta-de-moketon {
    width: 200px;
    height: 100px;
    background: rgb(61, 164, 249);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    
}

.tarjeta-de-moketon img { 
    width: 95px;

}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #7600a1;    
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;

}

#mensajes {
    width: 280px;
    background: rgb(61, 164, 249);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border-radius: 20px;
    box-sizing: border-box;
    background-color: transparent;
    color: #041562;
    font-family: 'Poppins', sans-serif;
}
.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;

}


@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}